version: "3.9"

services:

  ubuntu:
    build:
      context: ./ubuntu
      dockerfile: Dockerfile
      args:
        USER_NAME: ${DESKTOP_USER}
        USER_PASSWORD: ${DESKTOP_PASSWORD}
    container_name: ubuntu-desktop
    ports:
      - "33891:3389"
    environment:
      PULSE_SERVER: tcp:127.0.0.1
    volumes:
      - ubuntu_data:/home/${DESKTOP_USER}
    restart: unless-stopped
    privileged: true

  debian:
    build:
      context: ./debian
      dockerfile: Dockerfile
      args:
        USER_NAME: ${DESKTOP_USER}
        USER_PASSWORD: ${DESKTOP_PASSWORD}
    container_name: debian-desktop
    ports:
      - "33892:3389"
    environment:
      PULSE_SERVER: tcp:127.0.0.1
    volumes:
      - debian_data:/home/${DESKTOP_USER}
    restart: unless-stopped

  fedora:
    build:
      context: ./fedora
      dockerfile: Dockerfile
      args:
        USER_NAME: ${DESKTOP_USER}
        USER_PASSWORD: ${DESKTOP_PASSWORD}
    container_name: fedora-desktop
    ports:
      - "33893:3389"
    environment:
      PULSE_SERVER: tcp:127.0.0.1
    volumes:
      - fedora_data:/home/${DESKTOP_USER}
    restart: unless-stopped

  arch:
    build:
      context: ./arch
      dockerfile: Dockerfile
      args:
        USER_NAME: ${DESKTOP_USER}
        USER_PASSWORD: ${DESKTOP_PASSWORD}
    container_name: arch-desktop
    ports:
      - "33894:3389"
    environment:
      PULSE_SERVER: tcp:127.0.0.1
    volumes:
      - arch_data:/home/${DESKTOP_USER}
    restart: unless-stopped

  mint:
    build:
      context: ./mint
      dockerfile: Dockerfile
      args:
        USER_NAME: ${DESKTOP_USER}
        USER_PASSWORD: ${DESKTOP_PASSWORD}
    container_name: mint-desktop
    ports:
      - "33895:3389"
    environment:
      PULSE_SERVER: tcp:127.0.0.1
    volumes:
      - mint_data:/home/${DESKTOP_USER}
    restart: unless-stopped

  kali:
    build:
      context: ./kali
      dockerfile: Dockerfile
      args:
        USER_NAME: ${DESKTOP_USER}
        USER_PASSWORD: ${DESKTOP_PASSWORD}
    container_name: kali-desktop
    ports:
      - "33896:3389"
    environment:
      PULSE_SERVER: tcp:127.0.0.1
    volumes:
      - kali_data:/home/${DESKTOP_USER}
    restart: unless-stopped

volumes:
  ubuntu_data:
  debian_data:
  fedora_data:
  arch_data:
  mint_data:
  kali_data:
